.admin-input {
  width: 200px;
  height: 50px;
  padding-left: 1rem;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Console', Monaco, 'Andale Mono', monospace;

  margin-bottom: 1rem;

  transition: width 2s ease-in-out;

  &:focus {
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
