.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Manrope", sans-serif;
  border: 1px solid black;
}

.table-header {
  width: 100%;
  height: 50px;
  background-color: #c9c9c9;

  tr {
    width: 100%;

    th {
    border: 1px solid black;
    }

  }
}

.table-body {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Manrope", sans-serif;
  border: 1px solid #ff0000;


  tr {
    width: 100%;
  }

  td {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
  }

  td:nth-child(1) {
    background-color: #00c7ff;
  }
}
