.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Manrope", sans-serif;
  border: 1px solid #222;
  border-radius: 8px;
  overflow: hidden;
}

.table-header {
  background-color: #ffffff;
  height: 50px;

  tr {
    th {
      border: 1px solid #222;
      padding: 0.5rem 1rem;
      text-align: center;
      font-weight: 700;
      font-size: 0.9rem;
      user-select: none;
    }
  }
}

.table-body {
  tr {
    transition: background-color 0.25s ease;

    &:hover {
      background-color: #e6f2ff;
    }

    td {
      border: 1px solid #222;
      padding: 0.5rem 1rem;
      text-align: center;
      font-size: 0.9rem;
      vertical-align: middle;

      &:nth-child(1) {
        background-color: #00c7ff;
        color: white;
        font-weight: 600;
      }

      &:last-child {
        width: 150px;
      }
    }
  }
}

.admin-remove-btn {
  background-color: #e63946;
  color: white;
  padding: 0.35rem 0.75rem;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b22232;
  }
}

.admin-check-btn {
  background-color: #1d3557;
  color: white;
  padding: 0.35rem 0.75rem;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #12243b;
  }
}
