@use "../../mixins/flex-mixin";
@use "./error-wrapper";
@use "./error-responsive";

.error-block {
  @include flex-mixin.flex-center;
  flex-direction: row;
  width: auto;
  height: auto;
}

.error-button {
  width: auto;
  height: 40px;
  background-color: #959b59;
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 0.2rem;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #c8d553;
  }
}