@use "../../mixins/flex-mixin";

@media (max-width: 1000px) {

  .error-block {
    p {
      font-size: 0.8rem;
      width: calc(100% - 20px);
    }

    img {
      width: 25px;
      height: 25px;
    }

    .error-button {
      height: 30px;
      font-size: 0.7rem;
      text-align: center;
    }
  }
}