@use "../../../mixins/substract";
@use "../../../mixins/flex-mixin";

.blocks {
  width: 100%;
  height: 100%;

  @include flex-mixin.flex-center;
  flex-direction: row;

  font-family: 'Manrope';

  .block-1 {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);

    .block-1__title {
      font-weight: 800;
      font-size: clamp(30px, 10vw, 150px);
      text-align: center;
      letter-spacing: 0.8px;
      padding-right: 2vw;
      display: inline-block;


      position: relative;
      left: 20%;

      @include substract.sub-mix;
    }

    .block-1__description {
      width: 60%;
      height: auto;
      position: relative;
      top: 20%;

      @include flex-mixin.flex-start-start;
      flex-direction: column;


      p {
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 0.8px;

        margin-bottom: 72px;
      }

      a {
        font-size: 1.2rem;
        text-decoration: underline;
        text-underline-offset: 7px;
        text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
      }


      a, p {
        color: #F1F1E7;
      }

      .block-1__text {
        @include flex-mixin.flex-start;
        flex-direction: row;
        width: 100%;


        a {
          margin-right: 1rem;
        }

      }


    }
  }

  .block-2 {
    .block-2__title {
      color: white;
      font-weight: 800;
      font-size: clamp(36px, 8vw, 140px);
      text-shadow: 0 25px 0 rgba(0, 0, 0, 0.25);

      position: relative;
      left: -10%;
      top: 10%;
      padding-left: 2vw;
    }
  }

  .block-1,
  .block-2 {
    width: 100%;
    height: 100%;
    @include flex-mixin.flex-center;
    flex-direction: column;
  }

}