@use "../../../mixins/flex-mixin";
@use "../../../mixins/_bg-image-settings";

.home-wrapper {
  height: 100dvh;
  @include flex-mixin.flex-center;
  flex-direction:  column;
}

.home {
  @include flex-mixin.flex-center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  overflow-x: hidden;
}