@use "../../../mixins/flex-mixin";
.privacy-wrapper {
  @include flex-mixin.flex-start-start;
  flex-direction: column;
  height: auto;
  width: 100%;

  align-items: center;

  .privacy-h1 {
    font-weight: 700;
    font-size: 2.2rem;
  }
}

.privacy-h1-container {
  width: 100%;
  @include flex-mixin.flex-center;
}

.privacy-container {
  width: 100%;
  height: auto;

  color: black;

  @include flex-mixin.flex-start-start;
  flex-direction: column;

  background-color: rgba(245, 233, 218);
  padding: 80px;

  p {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
  }

  h3 {
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;
  }
}