@use "../../../mixins/flex-mixin";

.list-container {
  @include flex-mixin.flex-space-between;
  flex-direction: row;
  width: 100%;
  height: auto;

  p {
    margin-bottom: 5px;
  }

  ul li {
    list-style: inside;
    color: #F1F1E7;
    font-size: 1rem;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
}