@use "../../../mixins/flex-mixin";

.privacy-side-bar {
  position: fixed;
  right: 2%;
  top: 50%;

  @include flex-mixin.flex-center;
  flex-direction: column;
  gap: 5rem;
}

.bar-top,
.bar-bottom {
  @include flex-mixin.flex-center;
  flex-direction: column;
  height: auto;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.2rem;
    }
  }
}

.p-unhidden {
 color: #373535;
}

.p-hidden {
  color: #968F87;
}

.p-hidden,
.p-unhidden {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2px;
}