@use "../../mixins/flex-mixin.scss";
@use "../../mixins/background-mixin.scss";
.home-wrapper {
  @include flex-mixin.flex-center;
  flex-direction:  column;

  height: auto;
  width: 100%;
}

.home-bg {
  @include background-mixin.background-img("/home-page-bg.svg");
}

.home {
  width: 100%;
  height: auto;

  z-index: 5000;
  @include flex-mixin.flex-center;
  flex-direction: row;
  background: rgb(0, 0, 0, 0.5);
}

.merge-blocks {
  width: 100%;
  height: auto;

  @include flex-mixin.flex-center;
  flex-direction: row;
}

.left-block {
  width: 50%;
  height: 900px;
  padding: 1rem;

  background: rgba(255, 255, 255, 40%);
  backdrop-filter: blur(10px);

  flex-direction: column;
  @include flex-mixin.flex-center;

  .left-block-title {
    width: 500px;
    height: 205px;
    font-weight: 800;
    font-size: 150px;
    position: relative;
    line-height: 100%;
    letter-spacing: 0.8px;
    left: 180px;
    top: -100px;
    background: url('/home-page-bg.svg');
    background-size: cover;
    filter: brightness(40%);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

.right-block {
  width: 50%;
  height: 900px;

  @include flex-mixin.flex-center;

  padding: 1rem;

  .right-block-title {
    width: auto;
    height: 200px;

    line-height: 100%;
    font-size: 140px;
    color: white;
    font-weight: 800;
  }
}

.info-block {
  width: 100%;
  @include flex-mixin.flex-end;
  flex-direction: column;
  position: relative;
  top: 200px;
    p {
      width: 640px;
      height: 70px;
      font-size: 1.2rem;
      font-weight: 300;
      color: white;

      letter-spacing: 0.8px;
    }
}

.briefcase {
  width: 650px;
  height: 40px;

  @include flex-mixin.flex-start;
  flex-direction: row;


  .home-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 400;
    color: #F1F1E7;
    text-decoration: underline;
    text-underline-offset: 7px;

    margin-right: 1rem;

    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 2000px) {
  .home-bg {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .left-block,
  .right-block {
    height: 1000px;

    h2 {
      font-size: 80px;
      left: 0;
      top: 0;
      text-align: center;
    }
  }

  .info-block {
    margin-top: 200px;

    .p-container {
      flex-direction: column;
      p {
        width: 90%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .left-block h2,
  .right-block h2 {
    font-size: 60px;
  }

  .briefcase {
    padding-left: 40px;
    .home-link {
      font-size: 1rem;
    }
  }

  .info-block .p-container {
    p {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }
}

@media (max-width: 768px) {
  .home-wrapper {
    height: 100vh;
  }

  .left-block,
  .right-block {
    h2 {
      font-size: 40px;
    }
  }

  .briefcase {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

    .home-link {
      margin-bottom: 0.5rem;
    }
  }

  .info-block {
    margin-top: 100px;
    .p-container {
      margin-bottom: 40px;

      p {
        font-size: 0.9rem;
      }
    }
  }
}