@use "../../mixins/flex-mixin.scss";

.home {
  width: 100%;
  height: 1000px;

  @include flex-mixin.flex-center;

  background-image: url("/home-page-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border: 1px solid red;
}
