@use "../../mixins/flex-mixin.scss";
@use "../../mixins/background-mixin.scss";
@use "../../mixins/substract.scss";

.home {
  @include flex-mixin.flex-center;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  background-image: url("/home-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  color: white;

  z-index: 0;
}

.home:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
}

.home > * {
  position: relative;
  z-index: 2;
}

.blocks {
  width: 100%;
  height: 100%;

  @include flex-mixin.flex-center;
  flex-direction: row;

  .block-1 {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);

    .block-1__title {
      font-weight: 800;
      font-size: clamp(36px, 10vw, 150px);
      text-align: center;
      letter-spacing: 0.8px;
      padding-right: 2vw;

      position: relative;
      left: 20%;

      @include substract.sub-mix;
    }

    .block-1__description {
      width: 60%;
      height: auto;

      position: relative;
      top: 20%;;

      display: flex;
      justify-content: flex-start;
      flex-direction: column;


      p {
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 0.8px;

        margin-bottom: 72px;
      }

      a {
        font-size: 1.2rem;
        text-decoration: underline;
        text-underline-offset: 7px;
        text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
      }


      a, p {
        color: #F1F1E7;
      }

      .block-1__text {
        @include flex-mixin.flex-start;
        flex-direction: row;
        width: 100%;

        a {
          margin-right: 1rem;
        }

      }


    }
  }

  .block-2 {
    .block-2__title {
      color: white;
      font-weight: 800;
      font-size: clamp(36px, 8vw, 140px);
      text-shadow: 0px 25px 0px rgba(0, 0, 0, 0.25);

      position: relative;
      left: -10%;
      top: 10%;
      padding-left: 2vw;
    }
  }

  .block-1,
  .block-2 {
    width: 100%;
    height: 100%;
    @include flex-mixin.flex-center;
    flex-direction: column;
  }

}

@media (max-width: 1024px) {
  .blocks {
    .block-2 {
      width: 100%;
      padding-left: 3vw;
      .block-2__title {
        top: -0%;
        font-size: clamp(30px, 10vw, 20px);

      }

    }
    .block-1 {
      width: 60%;
      padding: 1rem;
      .block-1__title {
        left: 0;
        font-size: clamp(36px, 10vw, 40px);

      }

      .block-1__description {
        width: 100%;
        p {
          font-size: clamp(0.1rem, 1vw, 0.5rem);
          width: 175px;
        }

        .block-1__text {
          width: 100%;
          a {
            font-size: 0.8rem;
            text-underline-offset: 4.5px;
          }
        }


      }
    }
  }
}