@use "../../../mixins/_flex-mixin";
@use "../../../mixins/background-mixin";

.form-wrapper {
  height: 100dvh;
  width: 100%;
  padding: 0 0 2rem 0;
  @include flex-mixin.flex-center;
  flex-direction: column;
}

.form-inputs-container {
  width: 100%;
  height: auto;
  input {
    width: 100%;
    min-height: 50px;
    padding: 1rem;

    margin-bottom: 2rem;

    -webkit-text-fill-color: #ffffff80 !important;
    transition: background-color 5000s ease-in-out 0s !important;

    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.502);

    &:focus {
      border-bottom: 1px solid white;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.form-bg {
  filter: brightness(50%);
  @include background-mixin.background-img('/assets/dark-bg.webp');
}