@use "../../../mixins/_flex-mixin";
@use "../../../mixins/_bg-image-settings";

.form-wrapper {
  height: auto;
  padding: 1rem;
  @include flex-mixin.flex-center;
  flex-direction:  column;

  margin: 0 auto;
}

.form-bg {
  background-image: url("/assets/dark-bg.webp");
  @include bg-image-settings.bg-settings;
  filter: brightness(50%);
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
}