@use "../../../mixins/flex-mixin";

.form-section-buttons {
  width: 100%;
  height: auto;
  margin: 0 auto;
  gap: 1rem;
  @include flex-mixin.flex-center;
  flex-direction: column;
}

.form-button {
  width: 100%;
  min-height: 50px;
  background-color: #3F4222;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 2px;
  color: white;

  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #4f532c;
    color: white;
  }
}

.form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: #3F4222;
  }

}

.form-sign-up-button {
  width: auto;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.form-sign-up-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

// Checkbox

.phone-number-select {
  width: 100%;
  height: 25px;
  padding: 1rem;

  margin-bottom: 40px;

  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.502);

  @include flex-mixin.flex-start;

  flex-direction: row;

  img {
    cursor: pointer;
  }

  select {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
  }

  option {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(79, 79, 79, 0.5);
  }

  input {
    border: none;
    width: auto;

    margin: 0;


    &:focus {
      border: none;
    }

    &:hover {
      border: none;
    }
  }
}

.form-section-checkbox {
  width: 100%;
  height: auto;

  @include flex-mixin.flex-start;
  flex-direction: row;

  a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    cursor: pointer;
    @include flex-mixin.flex-center;

    margin-right: 1rem;
  }


  input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: 1rem;
    color: white;
  }

}