@use "../../../mixins/flex-mixin";

.form-container {
  position: relative;
  z-index: 1;
  width: clamp(300px, 80vw, 1300px);
  min-height:  840px;
  height: auto;

  background-image: url("/assets/form-back.webp");
  background-size: cover;

  border-radius: 4px;

  padding: 3rem;

  @include flex-mixin.flex-center;

}

.form-login {
  width: 100%;
  min-height: 740px;
  height: auto;
  backdrop-filter: blur(10px);

  @include flex-mixin.flex-center;
  flex-direction: row;
}

.form-article {
  width: 50%;
  height: auto;
  padding-left: 1rem;
  color: #F1F1E7;

  position: relative;
  top: -100px;

  h2 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-weight: 500;
    font-size: 1.2rem;
  }
}
.form-inside-container {
  width: 50%;
  height: 100%;
  @include flex-mixin.flex-center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);

}

.form-inside-container-left {
  width: 100%;
  min-height: 740px;
  height: 100%;

  @include flex-mixin.flex-start-start;
  flex-direction: column;

  padding: 3rem 1.1rem 3rem 1.1rem;

  h1 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 2rem;
    color: #f1f1e7;
  }
}

.form-recovery-container {
  @include flex-mixin.flex-end;
  width: 100%;
  height: auto;
}