@use "../../../mixins/flex-mixin";

.form-header {
  width: 70%;
  height: clamp(40px, 100vw, 80px);
  background: none;

  position: relative;
  top: 0;

  z-index: 5001;

  @include flex-mixin.flex-space-between;
  flex-direction: row;
}

.form-header-logo {
  width: 214px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }

}

@media (max-width: 1000px) {
  .form-header {
    gap: 1rem;
    width: 100%;
    height: clamp(40px, 8vh, 80px);
  }

  .form-header-logo {
    width: 180px;
    height: 33px;
  }

}