@use "../../../mixins/flex-mixin";

.form-header {
  width: clamp(300px, 80vw, 1300px);
  height: auto;
  background: none;

  padding: 0.5rem;

  z-index: 5001;

  @include flex-mixin.flex-space-between;
  flex-direction: row;
}

.form-header-logo {
  width: 214px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }

}

@media (max-width: 1000px) {
  .form-header {
    gap: 1rem;
    width: 100%;

    margin-bottom: 30px;

    padding: 80px 1rem 0 1rem;
  }

  .form-header-logo {
    width: 180px;
    height: 33px;
  }

}