@use "../../mixins/flex-mixin.scss";
@use "../../mixins/background-mixin.scss";

.success-wrapper {
  @include flex-mixin.flex-center;
  flex-direction:  column;

  height: 100dvh;
  width: 100%;
}

.success-bg {
  @include background-mixin.background-img('/success-bg.svg');
}

.success {
  width: 1300px;
  height: auto;
  padding: 60px;

  background: rgba(55, 53, 53, 0.6);

  @include flex-mixin.flex-center;
  flex-direction: column;

  img {
    margin: 60px;
  }

  h1 {
    color: #F1F1E7;
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 200;
    color: #F1F1E7;
    margin-bottom: 5px;
  }

  border-radius: 50px;

  z-index: 1000;
}

.success-btn {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  background-color: #8B833E;

  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
  color: #F1F1E7;

  font-weight: 500;
  font-size: 1.2rem;

  &:hover {
    background-color: #4f532c;;
    cursor: pointer;
  }
}

@media (max-width: 1400px) {

  .success {
    width: 100%;
    padding: 5rem;

    text-align: center;

    img {
      width: 100px;
      height: 100px;
    }

    h1 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .success-btn {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: #8B833E;

    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    color: #F1F1E7;

    font-weight: 500;
    font-size: 0.8rem;

    &:hover {
      background-color: #4f532c;;
      cursor: pointer;
    }
  }
}
