@use '../../mixins/flex-mixin.scss';

.header {
  width: 100%;
  height: 80px;
  background: none;

  position: absolute;
  top: 0;

  z-index: 5001;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;

  @include flex-mixin.flex-space-between;
}

.menu-wrapper {
  position: relative;
  display: inline-block;

  .menu-toggle {
    @include flex-mixin.flex-center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;

    padding: 13px 9px 13px 9px;

    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }

  .submenu {
    position: absolute;
    top: 65px;
    left: -120px  ;
    transform: translateY(-50%);
    min-width: 150px;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 10;
  }

  .submenu div {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 6px;
    transition: background 0.2s;

    &:hover {
      background: #eee;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem;

    img {
      width: 150px;
      height: 50px;
    }
  }

  .menu-wrapper {
    .menu-toggle {
      width: 40px;
      height: 40px;

      font-size: 1rem;

      padding: 8px 4px 8px 4px;
    }
  }
}

