@use "../../../mixins/flex-mixin";

@media screen and (max-width: 930px) {
  .success-wrapper {
    padding: 60px 9px 60px 9px;
  }

  .success {
    width: 100%;
    padding: 1rem;

    img {
      width: 200px;
      height: 200px;
    }

    p {
      font-size: 1.1rem;
      width: 100%;
    }
  }

  .success-h1 {
    color: #F1F1E7;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .success {
    p {
      font-size: 0.8rem;
    }
  }
  .success-h1 {
    color: #F1F1E7;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
}

  .success-btn {
    @include flex-mixin.flex-center;
    width: auto;
    height: 50px;
    border-radius: 5px;
    padding: 1rem;
    background-color: #8B833E;

    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    color: #F1F1E7;

    font-weight: 500;
    font-size: 1.2rem;

    &:hover {
      background-color: #4f532c;;
      cursor: pointer;
    }
}