@use "../../../mixins/flex-mixin";
@use "../../../mixins/background-mixin";
@use "../../../mixins/substract";

.success-wrapper {
  @include flex-mixin.flex-center;
  flex-direction:  column;

  height: 100vh;
  width: 100%;

  padding: 60px 70px 60px 70px;
}

.success-bg {
  @include background-mixin.background-img('/assets/success-bg.webp');
}

.success-logo {
  width: 300px;
  height: 300px;
}

.success {
  width: 100%;
  height: 100vh;
  padding: 100px;

  background: rgba(55, 53, 53, 0.6);

  @include flex-mixin.flex-center;
  flex-direction: column;

  img {
    margin: 60px;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #F1F1E7;
    width: 660px;
    text-align: center;
  }

  border-radius: 50px;

  z-index: 1000;
}

.success-h1 {
  color: #F1F1E7;
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.success-btn {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  background-color: #8B833E;

  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  color: #F1F1E7;

  font-weight: 500;
  font-size: 1.2rem;

  &:hover {
    background-color: #4f532c;;
    cursor: pointer;
  }
}
