@mixin background-img($url) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(#{$url});
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
