@mixin sub-mix {
  background: url('/assets/home-bg.webp');
  background-size: cover;
  filter: brightness(60%);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}