@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Manrope', sans-serif;
}