@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
  overflow-x: hidden;
}


html {
  font-family: 'Manrope', sans-serif;
}