// Global import
@use "./pages/Home/styles/Home";
@use "./pages/Form/styles/Form";
@use "./pages/Success/styles/Success";
@use "./pages/Survey/styles/Survey";
@use "./pages/Admin/styles/Admin";
@use "./components/Error/Error";

// Mixins import
@use "./mixins/bg-image-settings";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

@media (max-width: 1800px) {
  .main-wrapper {
    height: auto;
  }
}

body {
  font-family: "Manrope", "sans-serif";
  background-color: #4f532c;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  height: 100dvh;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}




// Turn off styles
input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;

  font-size: 1rem;
}

select {
  -webkit-appearance: listbox;
  -moz-appearance: listbox;
}

button:hover {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:active {
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// App
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}