@use "../../../mixins/flex-mixin";

@media (max-width: 1200px) {

  .survey-wrapper {
    height: auto;
    width: 100%;

    h1 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }


  .survey {
    height: auto;
  }

  .survey-block {
    width: 90%;
    height: auto;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .survey-header {

    p {
      font-size: 0.8rem;
    }
    .logo {
      width: 100px;
      height: 35px;
    }

    .close {
      width: 15px;
      height: 15px;
    }
  }

  .survey-article {
    p {
      text-align: center;
      width: 100%;
      font-size:  0.8rem;
    }
  }

  .radio-container {
    width: 100%;
    height: 50px;

    margin-bottom: 1rem;
  }

  .survey-config {
    @include flex-mixin.flex-center;
    margin-top: 5rem;
    height: 50px;
  }

  .next-end-button {
    width: 120px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .prev-skip-button {
    font-size: 0.8rem;
    font-weight: 400;
  }
}