@use "../../../mixins/flex-mixin";

.survey-header {
  @include flex-mixin.flex-space-between;
  padding: 0 2rem;

  margin-bottom: 1rem;

  width: 100%;

  .header-item {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .header-left {
    justify-content: flex-start;

    .logo {
      height: 40px;
      width: auto;
      cursor: pointer;
    }
  }

  .header-right {
    justify-content: flex-end;

    .close {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}